# --index-url https://download.pytorch.org/whl/cu118 # no need if deploy on cloud
torch
torchvision
torchaudio
git+https://github.com/facebookresearch/fvcore.git 
git+https://github.com/facebookresearch/iopath.git@v0.1.10 
opencv-python-headless
omegaconf==2.3.0
streamlit==1.40.0
streamlit-drawable-canvas==0.8.0
# @ git+https://github.com/VikParuchuri/streamlit-drawable-canvas@c6b9290ddfae8f347c652986cfd844065c6195c5